<div class="container">
    <div class="row">
        <div  class="col-md-8 offset-md-2">

        </div>

    </div>
    <form>
        <legend>let us know what you feel</legend>
        <hr>
        <div class="mb-3">
            <label for="emailAddress"class="form-label">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Your Email Address">

        </div>
        <div class="mb-3">
            <label for="PhoneNumber"class="form-label">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Your Phone Number">

        </div>
        <div class="mb-3">
            <label for="experience"class="form-label">Experience</label>
            <input type="range" class="form-range" id="experience" placeholder="Your Experience">

        </div>
        <div class="mb-3">
            <label for="experience"class="form-label">Title</label>
            <input type="text" class="form-control" id="experience" placeholder="Title">

        </div>
        <div class="mb-3">
            <label for="feedback"class="form-label">feedback</label>
            <input type="text" class="form-control" id="experience" placeholder="feedback">

        </div>
        <div class="mb-3">
             <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-send"></i>submit feedback
             </button>
        </div>
        
        
    </form>
</div>
