<figure class="figure">
    <img src="../../../assets/images/actor10.jpg " class="figure-img img-fluid rounded img-thumbnail"  style="max-width: 150px;" alt="...">
    <figcaption class="figure-caption">brad pitt</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/actor1.webp " class="figure-img img-fluid rounded img-thumbnail"  style="max-width: 150px;" alt="...">
    <figcaption class="figure-caption">brad pitt</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/actor8.webp " class="figure-img img-fluid rounded img-thumbnail"  style="max-width: 150px;" alt="...">
    <figcaption class="figure-caption">brad pitt</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/actor3.jpg " class="figure-img img-fluid rounded img-thumbnail"  style="max-width: 150px;" alt="...">
    <figcaption class="figure-caption">brad pitt</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
  </figure>
  <figure class="figure">
    <img src="../../../assets/images/actor4.jpg " class="figure-img img-fluid rounded img-thumbnail"  style="max-width: 150px;" alt="...">
    <figcaption class="figure-caption">brad pitt</figcaption>
    <figcaption class="figure-caption">(Role)</figcaption>
  </figure>
