<h1>Movie Title</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5H0-Lm2TTPo?si=1xv5zcePsVpv0mVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <p class="lead">This  is placeholder for movie</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div  class="card-header">stars</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">star 1 name</li>
                        <li class="list-group-item">star 2 name</li>
                        <li class="list-group-item">star 3 name</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div  class="card-header">stars</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">star 1 name</li>
                        <li class="list-group-item">star 2 name</li>
                        <li class="list-group-item">star 3 name</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div  class="card-header">stars</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">star 1 name</li>
                        <li class="list-group-item">star 2 name</li>
                        <li class="list-group-item">star 3 name</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<div class="row">
    <h1>Actor</h1>
    <br>
    <div  class="col-md-12  tet-center">
          <app-details-actor></app-details-actor>
    </div>
</div>
<hr>
<br>
<div class="row">
    <h1>Reviews</h1>
    <br>
    <div  class="col-md-12  tet-center">
        <app-details-reviews> </app-details-reviews>
    </div>
</div>

<app-details-movies></app-details-movies>
<br>
