<h1>Movie Title</h1>
<br>
 <div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5H0-Lm2TTPo?si=1xv5zcePsVpv0mVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <p class="lead">This  is placeholder for movie</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div  class="card-header">Film genre</div>
                    <ul class="list-group list-group-flush" *ngFor="let detail of Details ">
                        <li class="list-group-item">{{detail.name}}</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div  class="card-header">Actors</div>
                    <ul class="list-group list-group-flush" *ngFor="let deta of Details2">
                        <li class="list-group-item">{{deta.name}}</li>
                        

                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div  class="card-header">stars</div>
                    <ul class="list-group list-group-flush" *ngFor="let data  of Details3">
                        <li class="list-group-item">{{data.name}}</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
<div class="row">
    <h1>Actor</h1>
    <br>
    <div  class="col-md-12  text-center">
          <app-details-actor></app-details-actor>
    </div>
    <div class="text-center">
        <a class="btn btn-warning" [routerLink]="['/Details/Actors/'+movieId]">view all actors</a>
    </div>
</div>

<hr>
<br>
<div class="row">
    <h1>Reviews</h1>
    <br>
    <div  class="col-md-12  text-center">
        <app-details-reviews> </app-details-reviews>
    </div>
    <div class="text-center">
        <a class="btn btn-warning"  [routerLink]="['/Details/Reviews/'+movieId]">view all Reviews</a>
    </div>
</div>

<hr>
<br>
<div class="row">
    <h1>Similer Movies</h1>
    <br>
    <div  class="col-md-12  text-center">
        <app-details-movies></app-details-movies>
    </div>
    <div class="text-center">
        <a class="btn btn-warning"  [routerLink]="['/Details/Movies/'+movieId]">view all Movies</a>
    </div>
</div> 

<!-- Start  nested route
<router-outlet></router-outlet>
end nested  route -->


